<div class="services-offer">
    <div class="container">
        <h1 class="services-offer__title mb-3">
            Услуги детективного агентства для частных лиц
        </h1>
        <div class="services-offer__content">
            <div class="services-offer__description mb-3">
                <p>
                    Уже более 10 лет детективное агентство «Legion» занимается
                    частными расследованиями в России и по всему миру. Мы
                    работаем для тех, кого не устраивает качество
                    государственных услуг в области защиты их прав и законных
                    интересов.
                </p>
                <p>
                    Для тех, кто по каким-то причинам не может или не хочет
                    обращаться в правоохранительные органы со своими проблемами.
                    Для тех, кто не готов идти на компромиссы, когда речь идет о
                    безопасности и справедливости для себя или своих близких. Мы
                    умеем главное: превращать практически любые проблемы в
                    расходы и уверены, что не бывает нерешаемых задач, бывают
                    маленькие бюджеты.
                </p>
            </div>

            <div class="services-offer__contacts-wrapper">
                <hr />
                <div class="services-offer__contacts">
                    <a class="link link-primary" href="tel:84951323390"
                        >+7 (495) 132-33-90</a
                    >
                    <a class="link link-primary" href="tel:89214427195"
                        >+7 (921) 442-71-95</a
                    >
                    <a class="link link-primary" href="mailto:info@dalegion.com"
                        >info@dalegion.com</a
                    >
                </div>
                <hr />
                <button
                    data-bs-toggle="modal"
                    data-bs-target="#callModal"
                    class="btn btn-primary services-offer__contacts-button mt-3"
                >
                    Свяжитесь со мной
                </button>
            </div>
        </div>
    </div>
</div>
