<div class="services-private">
    <h2 class="services-private__header mb-3">Список услуг</h2>
    <div class="container">
        <div class="services-private__wrapper">
            <div class="services-private__card">
                <img
                        src="/assets/images/services/card.png"
                        alt="image"
                        class="mb-5"
                />
                <h3 class="services-private__card-header mb-3">
                    Семейные вопросы
                </h3>
                <ul class="services-private__card-list mb-3">
                    <li class="services-private__card-list-item">
                        Война за детей
                    </li>
                    <li class="services-private__card-list-item">
                        Содействие родителям в возвращении детей
                    </li>
                    <li class="services-private__card-list-item">
                        Вернуть любовь
                    </li>
                </ul>
                <a href="#" class="services-private__card-link">
                    + еще 9 услуг
                </a>
            </div>
            <div class="services-private__card">
                <img
                        src="/assets/images/services/card.png"
                        alt="image"
                        class="mb-5"
                />
                <h3 class="services-private__card-header mb-3">
                    Защита и безопасность
                </h3>
                <ul class="services-private__card-list mb-3">
                    <li class="services-private__card-list-item">
                        Привлечь СМИ
                    </li>
                    <li class="services-private__card-list-item">
                        Защита от шумных соседей
                    </li>
                    <li class="services-private__card-list-item">
                        Поиск прослушки (жучков)
                    </li>
                </ul>
                <a href="#" class="services-private__card-link">
                    + еще 4 услуги
                </a>
            </div>
            <div class="services-private__card">
                <img
                        src="/assets/images/services/card.png"
                        alt="image"
                        class="mb-5"
                />
                <h3 class="services-private__card-header mb-3">Розыск</h3>
                <ul class="services-private__card-list mb-3">
                    <li class="services-private__card-list-item">
                        Найти человека с сайта знакомств
                    </li>
                    <li class="services-private__card-list-item">
                        Вычислить фейк
                    </li>
                    <li class="services-private__card-list-item">
                        Поиск свидетелей
                    </li>
                </ul>
                <a href="#" class="services-private__card-link">
                    + еще 6 услуг
                </a>
            </div>
            <div class="services-private__card">
                <img
                        src="/assets/images/services/card.png"
                        alt="image"
                        class="mb-5"
                />
                <h3 class="services-private__card-header mb-3">
                    Семейные вопросы
                </h3>
                <ul class="services-private__card-list mb-3">
                    <li class="services-private__card-list-item">
                        Война за детей
                    </li>
                    <li class="services-private__card-list-item">
                        Содействие родителям в возвращении детей
                    </li>
                    <li class="services-private__card-list-item">
                        Вернуть любовь
                    </li>
                </ul>
                <a href="#" class="services-private__card-link">
                    + еще 9 услуг
                </a>
            </div>
            <div class="services-private__card">
                <img
                        src="/assets/images/services/card.png"
                        alt="image"
                        class="mb-5"
                />
                <h3 class="services-private__card-header mb-3">
                    Семейные вопросы
                </h3>
                <ul class="services-private__card-list mb-3">
                    <li class="services-private__card-list-item">
                        Война за детей
                    </li>
                    <li class="services-private__card-list-item">
                        Содействие родителям в возвращении детей
                    </li>
                    <li class="services-private__card-list-item">
                        Вернуть любовь
                    </li>
                </ul>
                <a href="#" class="services-private__card-link">
                    + еще 9 услуг
                </a>
            </div>
            <div class="services-private__card">
                <img
                        src="/assets/images/services/card.png"
                        alt="image"
                        class="mb-5"
                />
                <h3 class="services-private__card-header mb-3">
                    Семейные вопросы
                </h3>
                <ul class="services-private__card-list mb-3">
                    <li class="services-private__card-list-item">
                        Война за детей
                    </li>
                    <li class="services-private__card-list-item">
                        Содействие родителям в возвращении детей
                    </li>
                    <li class="services-private__card-list-item">
                        Вернуть любовь
                    </li>
                </ul>
                <a href="#" class="services-private__card-link">
                    + еще 9 услуг
                </a>
            </div>
            <div class="services-private__card">
                <img
                        src="/assets/images/services/card.png"
                        alt="image"
                        class="mb-5"
                />
                <h3 class="services-private__card-header mb-3">
                    Семейные вопросы
                </h3>
                <ul class="services-private__card-list mb-3">
                    <li class="services-private__card-list-item">
                        Война за детей
                    </li>
                    <li class="services-private__card-list-item">
                        Содействие родителям в возвращении детей
                    </li>
                    <li class="services-private__card-list-item">
                        Вернуть любовь
                    </li>
                </ul>
                <a href="#" class="services-private__card-link">
                    + еще 9 услуг
                </a>
            </div>
        </div>
        <div class="services-private__contacts-wrapper">
            <img
                    src="/assets/images/services/splitter.svg"
                    alt="splitter"
                    class="services-private__splitter"
            />
            <h3 class="mb-1 text-center w-100 w-md-50">
                У вас особая ситуация,<br/>требующая индивидуального подхода?
            </h3>
            <hr/>
            <div class="services-private__contacts">
                <a class="link link-primary" href="tel:84951323390"
                >+7 (495) 132-33-90</a
                >
                <a class="link link-primary" href="tel:89214427195"
                >+7 (921) 442-71-95</a
                >
                <a class="link link-primary" href="mailto:info@dalegion.com"
                >info@dalegion.com</a
                >
            </div>
            <hr/>
            <button
                    data-bs-toggle="modal"
                    data-bs-target="#callModal"
                    class="btn btn-primary services-private__contacts-button mt-3"
            >
                Да, свяжитесь со мной
            </button>
        </div>
    </div>
</div>
