$primary: #d6a67c;
$secondary: #f6f1e8;
$light: #fcfbf7;
$dark: #27272f;
$gray: #92989f;
$danger: #c02836;
$warning: #fffa00;
$linear-gradient: linear-gradient(
                180deg,
                rgba(243, 238, 217, 0.1) -72.27%,
                rgba(130, 30, 39, 0.1) 145.18%
);
$radial-gradient: radial-gradient(
                109.82% 109.82% at 33.93% 38.39%,
                #c02836 0%,
                #821e27 100%
),
#821e27;
$box-shadow: inset -4px -4px 10px rgba(0, 0, 0, 0.25),
inset 3px 3px 10px #bf2c39;
$inner-shadow: 2px 3px 5px rgba(191, 44, 57, 1);
$border-color: #e5e5e5;
$theme-colors: (
        "primary": $primary,
        "secondary": $secondary,
        "light": $light,
        "dark": $dark,
        "gray": $gray,
        "danger": $danger,
        "warning": $warning,
);
$page-content-margin: 45px 0 120px;
$page-content-margin-sm: 32px 0 90px;

$base-font-family: "Roboto", sans-serif;
$header-font-family: "Spectral SC", sans-serif;
$second-header-font-family: "Spectral", sans-serif;
$form-family: "Roboto", sans-serif;

$form-font: 16px/150% $form-family;
$base-font: 18px/150% $base-font-family;

$h1-font: 700 36px/115% $header-font-family;
$h1-font-sm: 700 32px/115% $header-font-family;

$h2-font: 700 32px/115% $header-font-family;
$h2-font-sm: 700 20px/115% $header-font-family;

$h3-font: 700 28px/115% $header-font-family;
$h3-font-sm: 700 24px/115% $header-font-family;

$h4-font: 700 24px/115% $second-header-font-family;
$h4-font-sm: 700 18px/115% $second-header-font-family;

$h5-font: 700 18px/125% $base-font-family;
$h5-font-sm: 700 18px/125% $base-font-family;

$small-font: 400 14px/18px $base-font-family;

$grid-gutter-width: 32px;

$grid-breakpoints: (
        xs: 0,
        sm: 540px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1400px,
);

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 932px,
        xl: 1100px,
        xxl: 1248px,
);

$input-padding-y: 11px;
$form-check-input-checked-bg-color: white;
$form-check-input-checked-color: $primary;
$form-check-input-checked-border-color: $primary;
$form-check-radio-checked-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'><rect x='2' y='2' width='4' height='4' fill='#{$form-check-input-checked-color}'/></svg>") !default;
$form-check-input-width: 1.3em;
$form-check-radio-border-radius: 4px;
$btn-border-radius: 8px;
$input-focus-box-shadow: none;
$input-focus-border-color: #D6A67C;
$input-focus-color: #D6A67C;
$input-border-radius: 8px;
$form-check-input-focus-box-shadow: none;
$enable-negative-margins: true;
$input-border-color: white;
$input-border-width: 2px;

@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";
