<div class="services-list">
    <h2 class="services-list__header mb-3">Список услуг</h2>
    <nav class="mb-4">
        <div
                class="nav nav-tabs services-list__nav"
                role="tablist"
        >
            <button
                    class="nav-link active"
                    data-bs-toggle="tab"
                    data-bs-target="#nav-private"
                    type="button"
                    role="tab"
            >
                Частным лицам
            </button>
            <button
                    class="nav-link"
                    data-bs-toggle="tab"
                    data-bs-target="#nav-legal"
                    type="button"
                    role="tab"
            >
                Юридическим лицам
            </button>
        </div>
    </nav>
    <div class="container services-list__container">
        <div class="tab-content">
            <div class="tab-pane fade show active" id="nav-private" role="tabpanel">
                <div class="services-list__content" id="private-services">
                    <div class="services-list__category">
                        <div class="services-list__category-name"
                             data-bs-toggle="collapse"
                             data-bs-target="#private-services-1"
                             aria-expanded="true"
                        >
                            Семейные вопросы
                        </div>
                        <div id="private-services-1"
                             class="services-list__category-items collapse show"
                             data-bs-parent="#private-services"
                        >
                            <img class="services-list__image"
                                 src="/assets/images/services/search.jpg"
                                 alt="search"
                            />
                            <ul class="services-list__category-items-list">
                                <li>
                                    <a href="#"> Защита от домашнего насилия</a>
                                </li>
                                <li>
                                    <a href="#"> Раздел имущества при разводе</a>
                                </li>
                                <li>
                                    <a href="#"> Лишить отца родительских прав</a>
                                </li>
                                <li>
                                    <a href="#"> Признать брак недействительным</a>
                                </li>
                                <li>
                                    <a href="#"> Защита прав отца на ребенка</a>
                                </li>
                                <li>
                                    <a href="#">
                                        Содействие родителям в возвращении детей</a
                                    >
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="services-list__category">
                        <div
                                class="services-list__category-name collapsed"
                                data-bs-toggle="collapse"
                                data-bs-target="#private-services-2"
                        >
                            Розыск людей
                        </div>
                        <div id="private-services-2"
                             class="services-list__category-items collapse"
                             data-bs-parent="#private-services"
                        >
                            <img class="services-list__image"
                                 src="/assets/images/services/search.jpg"
                                 alt="search"
                            />
                            <ul class="services-list__category-items-list">
                                <li>
                                    <a href="#"> Лишить отца родительских прав</a>
                                </li>
                                <li>
                                    <a href="#"> Признать брак недействительным</a>
                                </li>
                                <li>
                                    <a href="#"> Защита прав отца на ребенка</a>
                                </li>
                                <li>
                                    <a href="#">
                                        Содействие родителям в возвращении детей</a
                                    >
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="services-list__category">
                        <div
                                class="services-list__category-name collapsed"
                                data-bs-toggle="collapse"
                                data-bs-target="#private-services-3"
                        >
                            Розыск имущества
                        </div>
                        <div
                                id="private-services-3"
                                class="services-list__category-items collapse"
                                data-bs-parent="#private-services"
                        >
                            <img class="services-list__image"
                                 src="/assets/images/services/search.jpg"
                                 alt="search"
                            />
                            <ul class="services-list__category-items-list">
                                <li>
                                    <a href="#"> Защита от домашнего насилия</a>
                                </li>
                                <li>
                                    <a href="#"> Раздел имущества при разводе</a>
                                </li>
                                <li>
                                    <a href="#"> Защита прав отца на ребенка</a>
                                </li>
                                <li>
                                    <a href="#">
                                        Содействие родителям в возвращении детей</a
                                    >
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="services-list__category">
                        <div
                                class="services-list__category-name collapsed"
                                data-bs-toggle="collapse"
                                data-bs-target="#private-services-4"
                        >
                            Слежка за человеком
                        </div>
                        <div id="private-services-4"
                             class="services-list__category-items collapse"
                             data-bs-parent="#private-services"
                        >
                            <img class="services-list__image"
                                 src="/assets/images/services/search.jpg"
                                 alt="search"
                            />
                            <ul class="services-list__category-items-list">
                                <li>
                                    <a href="#"> Защита от домашнего насилия</a>
                                </li>
                                <li>
                                    <a href="#"> Раздел имущества при разводе</a>
                                </li>
                                <li>
                                    <a href="#"> Лишить отца родительских прав</a>
                                </li>
                                <li>
                                    <a href="#"> Признать брак недействительным</a>
                                </li>
                                <li>
                                    <a href="#"> Защита прав отца на ребенка</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="services-list__category">
                        <div
                                class="services-list__category-name collapsed"
                                data-bs-toggle="collapse"
                                data-bs-target="#private-services-5"
                        >
                            Защита и безопасность
                        </div>
                        <div
                                id="private-services-5"
                                class="services-list__category-items collapse"
                                data-bs-parent="#private-services"
                        >
                            <img class="services-list__image"
                                 src="/assets/images/services/search.jpg"
                                 alt="search"
                            />
                            <ul class="services-list__category-items-list">
                                <li>
                                    <a href="#"> Защита от домашнего насилия</a>
                                </li>
                                <li>
                                    <a href="#"> Раздел имущества при разводе</a>
                                </li>
                                <li>
                                    <a href="#"> Лишить отца родительских прав</a>
                                </li>
                                <li>
                                    <a href="#"> Признать брак недействительным</a>
                                </li>
                                <li>
                                    <a href="#">
                                        Содействие родителям в возвращении детей</a
                                    >
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="services-list__category">
                        <div
                                class="services-list__category-name collapsed"
                                data-bs-toggle="collapse"
                                data-bs-target="#private-services-6"
                        >
                            Особые поручения
                        </div>
                        <div
                                id="private-services-6"
                                class="services-list__category-items collapse"
                                data-bs-parent="#private-services"
                        >
                            <img class="services-list__image"
                                 src="/assets/images/services/search.jpg"
                                 alt="search"
                            />
                            <ul class="services-list__category-items-list">
                                <li>
                                    <a href="#"> Защита от домашнего насилия</a>
                                </li>
                                <li>
                                    <a href="#"> Раздел имущества при разводе</a>
                                </li>

                                <li>
                                    <a href="#"> Защита прав отца на ребенка</a>
                                </li>
                                <li>
                                    <a href="#">
                                        Содействие родителям в возвращении детей</a
                                    >
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-legal" role="tabpanel">
                <div class="services-list__content" id="legal-services">
                    <div class="services-list__category">
                        <div
                                class="services-list__category-name"
                                data-bs-toggle="collapse"
                                data-bs-target="#legal-services-1"
                                aria-expanded="true"
                        >
                            Поиск людей
                        </div>
                        <div id="legal-services-1"
                             class="services-list__category-items collapse show"
                             data-bs-parent="#legal-services"
                        >
                            <img class="services-list__image"
                                 src="/assets/images/services/search.jpg"
                                 alt="search"
                            />
                            <ul class="services-list__category-items-list">
                                <li>
                                    <a href="#"> Защита от домашнего насилия</a>
                                </li>
                                <li>
                                    <a href="#"> Раздел имущества при разводе</a>
                                </li>
                                <li>
                                    <a href="#"> Лишить отца родительских прав</a>
                                </li>
                                <li>
                                    <a href="#"> Признать брак недействительным</a>
                                </li>
                                <li>
                                    <a href="#"> Защита прав отца на ребенка</a>
                                </li>
                                <li>
                                    <a href="#">
                                        Содействие родителям в возвращении детей</a
                                    >
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="services-list__category">
                        <div
                                class="services-list__category-name collapsed"
                                data-bs-toggle="collapse"
                                data-bs-target="#legal-services-2"
                        >
                            Имущественные вопросы
                        </div>
                        <div
                                id="legal-services-2"
                                class="services-list__category-items collapse"
                                data-bs-parent="#legal-services"
                        >
                            <img class="services-list__image"
                                 src="/assets/images/services/search.jpg"
                                 alt="search"
                            />
                            <ul class="services-list__category-items-list">
                                <li>
                                    <a href="#"> Защита от домашнего насилия</a>
                                </li>
                                <li>
                                    <a href="#"> Раздел имущества при разводе</a>
                                </li>
                                <li>
                                    <a href="#"> Лишить отца родительских прав</a>
                                </li>
                                <li>
                                    <a href="#"> Признать брак недействительным</a>
                                </li>
                                <li>
                                    <a href="#"> Защита прав отца на ребенка</a>
                                </li>
                                <li>
                                    <a href="#">
                                        Содействие родителям в возвращении детей</a
                                    >
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="services-list__category">
                        <div
                                class="services-list__category-name collapsed"
                                data-bs-toggle="collapse"
                                data-bs-target="#legal-services-3"
                        >
                            Слежка за организацией
                        </div>
                        <div
                                id="legal-services-3"
                                class="services-list__category-items collapse"
                                data-bs-parent="#legal-services"
                        >
                            <img class="services-list__image"
                                 src="/assets/images/services/search.jpg"
                                 alt="search"
                            />
                            <ul class="services-list__category-items-list">
                                <li>
                                    <a href="#"> Защита от домашнего насилия</a>
                                </li>
                                <li>
                                    <a href="#"> Раздел имущества при разводе</a>
                                </li>
                                <li>
                                    <a href="#"> Защита прав отца на ребенка</a>
                                </li>
                                <li>
                                    <a href="#">
                                        Содействие родителям в возвращении детей</a
                                    >
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="services-list__category">
                        <div
                                class="services-list__category-name collapsed"
                                data-bs-toggle="collapse"
                                data-bs-target="#legal-services-4"
                        >
                            Слежка за человеком
                        </div>
                        <div id="legal-services-4"
                             class="services-list__category-items collapse"
                             data-bs-parent="#legal-services"
                        >
                            <img class="services-list__image"
                                 src="/assets/images/services/search.jpg"
                                 alt="search"
                            />
                            <ul class="services-list__category-items-list">
                                <li>
                                    <a href="#"> Защита от домашнего насилия</a>
                                </li>
                                <li>
                                    <a href="#"> Раздел имущества при разводе</a>
                                </li>
                                <li>
                                    <a href="#"> Лишить отца родительских прав</a>
                                </li>
                                <li>
                                    <a href="#"> Признать брак недействительным</a>
                                </li>
                                <li>
                                    <a href="#"> Защита прав отца на ребенка</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="services-list__category">
                        <div
                                class="services-list__category-name collapsed"
                                data-bs-toggle="collapse"
                                data-bs-target="#legal-services-5"
                        >
                            Защита и безопасность
                        </div>
                        <div
                                id="legal-services-5"
                                class="services-list__category-items collapse"
                                data-bs-parent="#legal-services"
                        >
                            <img class="services-list__image"
                                 src="/assets/images/services/search.jpg"
                                 alt="search"
                            />
                            <ul class="services-list__category-items-list">
                                <li>
                                    <a href="#"> Защита от домашнего насилия</a>
                                </li>
                                <li>
                                    <a href="#"> Раздел имущества при разводе</a>
                                </li>
                                <li>
                                    <a href="#"> Лишить отца родительских прав</a>
                                </li>
                                <li>
                                    <a href="#"> Признать брак недействительным</a>
                                </li>
                                <li>
                                    <a href="#">
                                        Содействие родителям в возвращении детей</a
                                    >
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="services-list__category">
                        <div
                                class="services-list__category-name collapsed"
                                data-bs-toggle="collapse"
                                data-bs-target="#legal-services-6"
                        >
                            Особые поручения
                        </div>
                        <div
                                id="legal-services-6"
                                class="services-list__category-items collapse"
                                data-bs-parent="#legal-services"
                        >
                            <img class="services-list__image"
                                 src="/assets/images/services/search.jpg"
                                 alt="search"
                            />
                            <ul class="services-list__category-items-list">
                                <li>
                                    <a href="#"> Защита от домашнего насилия</a>
                                </li>
                                <li>
                                    <a href="#"> Раздел имущества при разводе</a>
                                </li>

                                <li>
                                    <a href="#"> Защита прав отца на ребенка</a>
                                </li>
                                <li>
                                    <a href="#">
                                        Содействие родителям в возвращении детей</a
                                    >
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
