.btn {
    font: $form-font;
    text-transform: uppercase;
    font-size: 20px;
    padding: 22px;
    color: white;
    font-style: normal;
    font-weight: bold;
    line-height: 23px;
    position: relative;
    width: 100%;

    &[disabled] {
        opacity: 0.3;
        pointer-events: none;
    color: white;
    }

    &:hover {
        color: white;
    }

    &:focus {
        color: white;
        box-shadow: none;
        background: $primary;
    }

    &:active {
        color: white;
        background: #c6986f;
    }

    &:active:focus {
        box-shadow: none;
    }

    &::before, &::after {
        content: "";
        width: 10px;
        height: 10px;
        background: white;
        position: absolute;
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
    }

    &::before {
        left: 30px;
    }

    &::after {
        right: 30px;
    }

    @include media-breakpoint-down(md) {
        font-size: 16px;
        padding: 15px;

        &::before, &::after {
            top: 26px;
            width: 8px;
            height: 8px;
        }

        &:before {
            left: 15px;
        }

        &:after {
            right: 15px;
        }
    }
}
