.feedback-form {
    padding: 16px;
    background: white;

    @include media-breakpoint-down(md) {
        font-size: 16px;
    }
}

.feedback-form__content {
    padding: 50px 70px;
    background: $secondary;
    font: $form-family;

    @include media-breakpoint-down(md) {
        padding: 15px;
    }
}

.feedback-form__body {
    position: relative;
}

.feedback-form__title {
    font-family: $header-font-family;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;

    @include media-breakpoint-down(md) {
        text-align: center;
        font-size: 18px;
        margin-bottom: 15px;
    }
}

.feedback-form__social {
    width: 220px;
    display: flex;
    justify-content: space-between;
    margin: 20px auto 0;
}

.feedback-form__content.was-sent {
    .feedback-form__success {
        opacity: 1;
        pointer-events: auto;
    }

    .feedback-form__sent-footer-text {
        display: block;
    }

    .feedback-form__footer-text {
        display: none;
    }
}

.feedback-form__success {
    text-align: center;
    opacity: 0;
    position: absolute;
    pointer-events: none;
    transition: .15s ease-in;
    background: $secondary;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.feedback-form__success-icon {
    font-size: 64px;
    color: $primary;
    display: inline-block;
    margin-bottom: 15px;
}

.feedback-form__success-label {
    font-family: $header-font-family;
    font-weight: 600;
    text-align: center;
}

.feedback-form__sent-footer-text {
    display: none;
}