.footer {
    padding: 45px 0;
    background: $dark;
    color: $secondary;
    font-size: 13px;

    .footer__link {
        line-height: 20px;
    }

    .footer__city-contacts {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .footer__city-name {
        font-family: $header-font-family;
        line-height: 15px;
    }

    a {
        color: $secondary;

        &:hover {
            color: $primary;
        }
    }

    ul {
        margin: 0;
        padding: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        li {
            list-style: none;
        }
    }
}
