.header {
  background: $secondary;
  font-family: Spectral, sans-serif;
  font-weight: 600;

  @include media-breakpoint-up(lg) {
    .header__24-7, .header__burger {
      display: none;
    }
  }

  .header__wrapper {
    position: relative;
    padding: 40px 0;

    @include media-breakpoint-down(lg) {
      padding: 15px 0;
    }
  }

  .header__24-7 {
    font-size: 24px;
    margin-left: -13px;
  }

  .header__top {
    display: flex;
    align-items: center;

    @include media-breakpoint-down(lg) {
      > *:not(.header__24-7, .header__burger, .header__logo) {
        display: none;
      }
    }

    a {
      text-decoration: none;
      color: $dark;

      &:hover {
        color: $primary;
      }
    }
  }

  .header__city + .header__city {
    margin-left: 30px;
  }

  .header__logo {
    margin-right: auto;

    &:hover {
      opacity: 0.7;
    }

    @include media-breakpoint-down(lg) {
      margin-left: auto;
    }
  }

  .header__theme, .header__language {
    background: rgba(#CEBBAC, 0.1);
    border-radius: 99px;
    font-weight: 600;
    font-family: Roboto, sans-serif;
    display: flex;
    height: 30px;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    font-size: 14px;
  }

  .header__language {
    margin-left: 60px;
  }

  .header__theme {
    width: 30px;
    margin-left: 15px;
    cursor: pointer;

    &:hover {
      color: $primary;
    }
  }

  .header__nav {
    background: #faf5ed;
    border-radius: 6px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(50%);
    margin: 0;
    justify-content: space-around;
    box-shadow: 0 1px 2px rgba(216, 198, 185, 0.8);
    padding: 0 25px;
    z-index: 10;

    @include media-breakpoint-up(lg) {
      display: flex;
    }

    @include media-breakpoint-down(lg) {
      padding: 0;
      position: static;
      flex-direction: column;
      transform: none;
      box-shadow: none;
      background: none;

      .dropdown-menu {
        transform: none !important;
        position: static !important;
        background: none;
        border: none;
        padding: 0;
      }
    }

    li {
      list-style: none;
    }

    .nav-link {
      color: $dark;
      font-size: 20px;
      padding: 12px 0;
      line-height: 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &:hover {
        color: $primary;
      }
    }
  }
}
