.services-private {
  background: $secondary;
  padding: 50px 0;

  .services-private__header {
    text-transform: uppercase;
    text-align: center;
  }

  .services-private__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -15px;
    margin-right: -15px;
  }

  .services-private__card {
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 1px 2px 2px rgba(216, 198, 185, 0.8);
    transition: transform 0.3s, box-shadow 0.3s;
    background: $secondary;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 16px solid #ffffff;
    width: calc(100% / 3 - 30px);
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 30px;

    @include media-breakpoint-down(xl) {
      width: calc(100% / 2 - 30px);
    }

    @include media-breakpoint-down(md) {
      width: 100%;
      margin-right: 0;
    }

    &:hover {
      box-shadow: 1px 20px 20px rgba(216, 198, 185, 0.8);
      transform: translateY(-10px);
    }
  }

  .services-private__card-header {
    font-size: 24px;
    text-align: center;
    text-transform: unset;
  }

  .services-private__card-list {
    list-style: none;
    margin: 0;
    padding: 0 20px;
    text-align: center;
  }

  .services-private__card-list-item {
    padding: 20px;
    border-bottom: 1px solid rgba(39, 39, 47, 0.15);
    line-height: 18px;

    &:nth-last-child(1) {
      border-bottom: none;
    }
  }

  .services-private__card-link {
    display: flex;
    margin: 0 auto;
    padding: 15px;
    justify-content: center;
    width: 80%;
    background: rgba(237, 182, 134, 0.1);
    text-decoration: none;
    border-radius: 8px;

    &:hover {
      background: rgba(237, 182, 134, 1);
      color: white;
    }
  }

  .services-private__contacts-wrapper {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: flex-end;
    width: 70%;
    padding-top: 80px;
    position: relative;
    @include media-breakpoint-down(lg) {
      width: 100%;
    }
  }

  .services-private__contacts {
    display: flex;
    justify-content: space-around;
    color: $primary;

    a {
      text-decoration: none !important;
    }

    @include media-breakpoint-down(xl) {
      flex-direction: column;
      align-items: center;
    }
  }

  .services-private__contacts-button {
    align-self: center;
    width: 70%;
    @include media-breakpoint-down(lg) {
      width: 100%;
    }
  }

  .services-private__splitter {
    width: 110px;
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
  }
}
