.services-offer {
    padding: 65px 0 55px 0;

    .services-offer__title {
        text-align: center;
        text-transform: uppercase;
        margin-left: auto;
        margin-right: auto;

        @include media-breakpoint-down(md) {
            max-width: 100%;
            font-size: 20px;
        }
    }

    .services-offer__content {
        display: flex;
        flex-direction: column;
        @include media-breakpoint-down(lg) {
            display: block;
        }

        .services-offer__description {
            width: 80%;
            margin: 0 auto;
            @include media-breakpoint-down(lg) {
                width: 100%;
            }

            @include media-breakpoint-down(md) {
                font-size: 15px;
            }
        }

        .services-offer__contacts-wrapper {
            display: flex;
            margin: 0 auto;
            flex-direction: column;
            justify-content: flex-end;
            width: 70%;
            @include media-breakpoint-down(lg) {
                width: 100%;
            }
        }
    }

    .services-offer__contacts {
        display: flex;
        justify-content: space-around;
        color: $primary;

        a {
            text-decoration: none !important;
        }

        @include media-breakpoint-down(xl) {
            flex-direction: column;
            align-items: center;
        }
    }
    .services-offer__contacts-button {
        align-self: center;
        width: 70%;
        @include media-breakpoint-down(lg) {
            width: 100%;
        }
    }
}
