.services-list {
    background: $secondary;
    padding-top: 50px;

    .services-list__header {
        text-transform: uppercase;
        text-align: center;
    }

    .services-list__nav {
        justify-content: center;
        font-family: $header-font-family;

        .nav-link {
            font-weight: 700;
            color: $dark;
            border: none;
            margin: 0;
            width: 350px;

            @include media-breakpoint-down(md) {
                font-size: 14px;
                width: 50%;
                padding: 7px;
            }
        }
    }

    .services-list__image {
        width: 100%;
        margin-bottom: 45px;

        @include media-breakpoint-down(lg) {
            margin-bottom: 0;
        }
    }

    .services-list__navigation {
        display: flex;
        flex-direction: column;
    }

    .services-list__content {
        position: relative;
        min-height: 480px;
        transition: min-height .1s ease-in;

        @include media-breakpoint-down(lg) {
            height: auto;
        }
    }

    .services-list__category-name {
        width: 355px;
        font-weight: bold;
        font-family: Spectral;
        font-size: 24px;
        padding: 17px;
        background: white;
        border-bottom: 1px solid rgba(39, 39, 47, 0.25);
        transition: background .1s ease-in;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include media-breakpoint-down(md) {
            font-size: 20px;
        }

        &:after {
            content: '\e907';
            font-family: legion;
            font-size: 14px;

            @include media-breakpoint-down(lg) {
                transform: rotate(-90deg);
            }
        }

        &.collapsed {
            background: $secondary;

            &:after {
                opacity: 0;

                @include media-breakpoint-down(lg) {
                    opacity: 1;
                    transform: rotate(90deg);
                }
            }
        }

        &:hover {
            background: #efe6d5;
        }

        @include media-breakpoint-down(lg) {
            width: 100%;
        }

        &:not(.collapsed) {
            pointer-events: none;
        }
    }

    .services-list__container {
        @include media-breakpoint-down(lg) {
            width: 100%;
            margin: 0;
            padding: 0;
            max-width: 100%;
        }
    }

    .services-list__category-items {
        position: absolute;
        left: 355px;
        top: 0;
        transition: none !important;
        width: calc(100% - 355px);
        border-left: 1px solid rgba(39, 39, 47, 0.25);
        padding-left: 25px;

        @include media-breakpoint-down(lg) {
            position: static;
            width: 100%;
            border-left: none;
            padding-left: 0;
            transition: ease-in .3s !important;
        }

        &.show {
            @include media-breakpoint-down(lg) {
                background: white;
            }
        }
    }

    .services-list__category-items-list {
        margin: 0;
        padding: 0;
        list-style: none;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 30px;

        @include media-breakpoint-down(lg) {
            display: flex;
            flex-direction: column;
            font-size: 14px;
        }

        li {
            border-top: 1px solid rgba(39, 39, 47, 0.25);
            display: flex;
            align-items: center;

            &:nth-child(1), &:nth-child(2) {
                border-top: none;
            }

            @include media-breakpoint-down(lg) {
                &:nth-child(2) {
                    border-top: 1px solid rgba(39, 39, 47, 0.25);
                }
            }

            &:hover {
                background: #efe6d5;
            }

            a {
                padding: 17px;
                display: block;
                color: black;
                text-decoration: none;
            }
        }
    }
}
