<div class="about">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1">
                <h2 class="text-center mb-3 mb-md-5">
                    Работаем прозрачно. <br/>
                    Не оставляем вас наедине с результатом
                </h2>
                <ul class="about__list">
                    <li class="about__list-item">
                        Первичное изучение ситуации по&nbsp;вашему&nbsp;обращению
                    </li>
                    <li class="about__list-item">
                        Базовая констультрация, оценка объема и&nbsp;стоимости работ
                    </li>
                    <li class="about__list-item">
                        Оформление необходимых документов, детективы уже приступили
                        к решению вашей&nbsp;задачи
                    </li>
                    <li class="about__list-item">
                        Оперативное и детально информирование о ходе расследования,
                        констультации по стратегии ваших действий
                    </li>
                    <li class="about__list-item">
                        Завершение частного расследования, передача всего пакета
                        материалов. Детальная&nbsp;констультация по вашим дальнейшим&nbsp;дейтсвиям
                    </li>
                    <li class="about__list-item">
                        Юридическое сопровождение, помощь в достижении ваших целей
                        по результатам работы детективного агентства
                    </li>
                </ul>
                <p class="about__info">
                    <i class="icon-info"></i>
                    Небольшой текст о том, что м ыне просто оказываем услуги частного сыска, а комплексно помогаем
                    решить
                    реальную проблему. Агенство не оставляет клиента с пакетом фотографий и документов в недоумении и
                    что же
                    делать дальше. Мы помогаем определить стратегию выбора, оказываем юридическое сопровождение по
                    итогам
                    расследования, обеспечиваем юридическую безопасность и анонимность. Клиент получае решение проблемы,
                    а не
                    информацию о том, что да, дайствительно, проблема есть
                </p>
            </div>
        </div>
    </div>
</div>
<div class="splitter"></div>
