<div class="advantages">
    <div class="container">
        <h2 class="text-center mb-3 mb-md-5">Преимущества</h2>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 mb-5">
                <div class="advantage-card">
                    <i class="icon-clock"></i>
                    На связи 24 часа
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-5">
                <div class="advantage-card">
                    <i class="icon-doc"></i>
                    Собственный отдел журналистских расследований
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-5">
                <div class="advantage-card">
                    <i class="icon-shield"></i>
                    100% гарантия конфиденциальности
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
                <div class="advantage-card">
                    <i class="icon-operator"></i>
                    Проводим on-line консультации по&nbsp;телефону и skype
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
                <div class="advantage-card">
                    <i class="icon-spy"></i>
                    Сыщики оперативно выполняют задания<br/>любой сложности
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="advantage-card">
                    <i class="icon-star"></i>
                    Эксперты в детективном деле.<br/>Более 10 лет практики
                </div>
            </div>
        </div>
    </div>
</div>
