<div class="blog">
    <div class="container">
        <h2 class="h4">Подробнее об услугах детективного агетнства</h2>
        <div class="position-relative mb-3 mb-md-5">
            <div class="swiper blog__video-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a class="blog-card" href="#">
                            <img
                                class="w-100 mb-2"
                                src="/assets/images/video.jpg"
                                alt="video"
                            />
                            <p class="blog__slide-text">
                                Как самому искать ребенка? Блог детектива.
                            </p>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="blog-card" href="#">
                            <img
                                class="w-100 mb-2"
                                src="/assets/images/video.jpg"
                                alt="video"
                            />
                            <p class="blog__slide-text">
                                Экстренные меры, когда увезли ребенка. Блог
                                детектива
                            </p>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="blog-card" href="#">
                            <img
                                class="w-100 mb-2"
                                src="/assets/images/video.jpg"
                                alt="video"
                            />
                            <p class="blog__slide-text">
                                Война за ребенка. Блог детектива.
                            </p>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="blog-card" href="#">
                            <img
                                class="w-100 mb-2"
                                src="/assets/images/video.jpg"
                                alt="video"
                            />
                            <p class="blog__slide-text">
                                Война за ребенка. Блог детектива.
                            </p>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="blog-card" href="#">
                            <img
                                class="w-100 mb-2"
                                src="/assets/images/video.jpg"
                                alt="video"
                            />
                            <p class="blog__slide-text">
                                Война за ребенка. Блог детектива.
                            </p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="swiper-button-prev video-slider__button-prev">
                <i class="icon-left"></i>
            </div>
            <div class="swiper-button-next video-slider__button-next">
                <i class="icon-right"></i>
            </div>
        </div>
        <h2 class="h4">А так же в детальных статьях</h2>
        <div class="position-relative">
            <div class="swiper blog__article-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a class="blog-card" href="#">
                            <img
                                class="w-100 mb-2"
                                src="/assets/images/article.jpg"
                                alt="video"
                            />
                            <p class="blog__slide-text">
                                Как читать чужие сообщения - СМС, Viber,
                                WhatsApp?
                            </p>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="blog-card" href="#">
                            <img
                                class="w-100 mb-2"
                                src="/assets/images/article.jpg"
                                alt="video"
                            />
                            <p class="blog__slide-text">
                                Как узнать, где находится абонент без его
                                согласия? (Геолокация)
                            </p>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="blog-card" href="#">
                            <img
                                class="w-100 mb-2"
                                src="/assets/images/article.jpg"
                                alt="video"
                            />
                            <p class="blog__slide-text">
                                Слежка за человеком. Прямой эфир. Блог детектива
                            </p>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="blog-card" href="#">
                            <img
                                class="w-100 mb-2"
                                src="/assets/images/article.jpg"
                                alt="video"
                            />
                            <p class="blog__slide-text">
                                Слежка за человеком. Прямой эфир. Блог детектива
                            </p>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="blog-card" href="#">
                            <img
                                class="w-100 mb-2"
                                src="/assets/images/article.jpg"
                                alt="video"
                            />
                            <p class="blog__slide-text">
                                Слежка за человеком. Прямой эфир. Блог детектива
                            </p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="swiper-button-prev article-slider__button-prev">
                <i class="icon-left"></i>
            </div>
            <div class="swiper-button-next article-slider__button-next">
                <i class="icon-right"></i>
            </div>
        </div>
    </div>
</div>
<div class="splitter"></div>
