<div class="calculator">
    <div class="container">
        <div class="row">
            <h2 class="col-12 col-md-8 mx-auto text-center">
                Сколько стоит {Название услуги}
                в&nbsp;детективном агентстве?
            </h2>
        </div>
        <div class="calculator-table mb-5">
            <div class="calculator-table-row calculator-table-row_header">
                <div></div>
                <div class="calculator-table-row__name">Название услуги</div>
                <div>Размер минимального платежа</div>
                <div>Средний чек</div>
                <div>Тип контракта</div>
            </div>
            <div class="calculator-table-row">
                <div class="form-check">
                    <input id="calc-cb-1" class="form-check-input" type="checkbox"
                           data-avg="2000000"
                           data-prepayment="300000"
                           data-name="Война за детей"
                    >
                </div>
                <label for="calc-cb-1" class="calculator-table-row__name">Война за детей</label>
                <div class="calculator-table-row__prepayment">От 300 000 ₽</div>
                <div class="calculator-table-row__avg">2 млн</div>
                <div class="calculator-table-row__type">Депозитный</div>
            </div>
            <div class="calculator-table-row">
                <div class="form-check">
                    <input id="calc-cb-2" class="form-check-input" type="checkbox"
                           data-avg="3000000"
                           data-prepayment="200000"
                           data-name="Содействие родителям в возвращении детей"
                    >
                </div>
                <label for="calc-cb-2" class="calculator-table-row__name">Содействие родителям в возвращении
                    детей</label>
                <div class="calculator-table-row__prepayment">От 200 000 ₽</div>
                <div class="calculator-table-row__avg">3 млн</div>
                <div class="calculator-table-row__type">Депозитный</div>
            </div>
            <div class="calculator-table-row">
                <div class="form-check">
                    <input id="calc-cb-3" class="form-check-input" type="checkbox"
                           data-avg="1000000"
                           data-prepayment="600000"
                           data-name="Просто"
                    >
                </div>
                <label for="calc-cb-3" class="calculator-table-row__name">Просто</label>
                <div class="calculator-table-row__prepayment">От 600 000 ₽</div>
                <div class="calculator-table-row__avg">1 млн</div>
                <div class="calculator-table-row__type">Депозитный</div>
            </div>
        </div>

        <div class="row collapse">
            <div class="col-12 col-lg-10 offset-lg-1">
                <div class="calculator-summary">
                    <h4 class="text-center">Примерный расчет стоимости расследования:</h4>
                    <div class="calculator-summary-item">
                        <div class="calculator-summary-item__name">Выбрано услуг</div>
                        <div class="calculator-summary-item__value calculator__count">5</div>
                    </div>
                    <div class="calculator-summary-item">
                        <div class="calculator-summary-item__name">Минимальный аванс</div>
                        <div class="calculator-summary-item__value calculator__prepayment">1 500 000 руб.</div>
                    </div>
                    <div class="calculator-summary-item">
                        <div class="calculator-summary-item__name">Средняя общая стоимость</div>
                        <div class="calculator-summary-item__value calculator__avg">10 000 000 руб.</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-6 offset-lg-3">
                <button class="btn btn-primary mx-auto calculator__submit"
                        data-bs-toggle="modal" data-bs-target="#callModal">ХОЧУ КОНСУЛЬТАЦИЮ
                </button>
            </div>
        </div>

        <div class="row collapse">
            <div class="col-12 col-lg-10 offset-lg-1">
                <div class="calculator__warning">
                    <i class="icon-info"></i>
                    <p>
                        Обращаем ваше внимание на то, что примерная стоимость услуг детективного агентства "Легион"
                        основана на опыте и средней стоимости подобных работ. В вашем случае, итоговая цена работы
                        частных
                        детективов может отличаться как в большую, так и в меньшую сторону. Итоговая стоимость
                        рассчитывается после
                        консультации.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
