<div class="certificate">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-10 mx-auto">
                <div class="certificate__layout">
                    <img src="/assets/images/index/certificate.png"
                         alt="certificate"
                         class="certificate__image"
                    />
                    <h2 class="mb-4 align-self-end">
                        Работаем законно.
                    </h2>
                    <p class="align-self-start certificate__text">
                        Наличие лицензии на профессональную детективную деятельность
                        - одно из преимуществ агентства "Legion". Наши специалисты
                        сертифицирован МВД и имеют законное право производить
                        оперативно-сыскную деятельность. Сотрудничество с
                        лицензированными специалистами позволит вам не только
                        собрать доказательную базу против вашего оппонента, но и
                        легитимно использовать ее в суде без лишних бумажных
                        проволочек.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="splitter"></div>
