<div class="feedback">
    <div class="container">
        <h3 class="text-center mb-4">
            Есть вопросы? <br />
            Задайте их нам!
        </h3>
        <div class="row">
            <div class="col-12 col-xl-6 offset-xl-3">
                @@include('../../parts/feedback-form.html', {})
            </div>
        </div>
    </div>
</div>
