<div class="licenses">
    <div class="container">
        <h2 class="text-center">Работаем эффективно</h2>
        <p class="text-center">Нам доверяют профессионалы по всему миру.</p>
        <p class="text-center mb-3 mb-md-5">
            Детективное агентство "Легион" состоит в международных организцаиях.
            <br />
            Качество и эффективность нашей работы соответствует высочайшим
            стандартам.
        </p>
        <div class="row">
            <div class="col-12 col-md-4 mb-3 mb-md-0">
                <div class="licenses-card mx-auto">
                    <img src="/assets/images/index/licenses-1.png"
                         alt="license"
                         class="licenses-card__image"
                    />
                    <div>
                        <div class="licenses-card__text">
                            Всемирная <br />
                            Ассоциация <br />
                            Частных Детективов
                        </div>
                        <a href="#" class="link link-primary">Подтверждение...</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-3 mb-md-0">
                <div class="licenses-card mx-auto">
                    <img src="/assets/images/index/licenses-2.png"
                         alt="license"
                         class="licenses-card__image"
                    />
                    <div>
                        <div class="licenses-card__text">
                            Всемирная <br />
                            Ассоциация <br />
                            детективов W.A.D.
                        </div>
                        <a href="#" class="link link-primary">Подтверждение...</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-3 mb-md-0">
                <div class="licenses-card mx-auto">
                    <img src="/assets/images/index/licenses-3.png"
                         alt="license"
                         class="licenses-card__image"
                    />
                    <div>
                        <div class="licenses-card__text">
                            Международная неправительственная организация полицейских
                        </div>
                        <a href="#" class="link link-primary">Подтверждение...</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="splitter"></div>
