<div class="map">
    <div id="ya-map"></div>
    <div class="container map__contacts-wrap">
        <div class="map__contacts">
            <ul class="nav nav-pills" id="pills-tab" role="tablist">
                <li class="nav-item me-3" role="presentation">
                    <button class="nav-link active"
                            data-bs-toggle="pill"
                            data-bs-target="#moscow"
                            data-id="Москва"
                            type="button"
                            role="tab"
                            aria-controls="pills-home"
                            aria-selected="true"
                    >
                        Москва
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link"
                            data-bs-toggle="pill"
                            data-bs-target="#spb"
                            type="button"
                            data-id="Санкт-Петербург"
                            role="tab"
                            aria-controls="pills-profile"
                            aria-selected="false"
                    >
                        Санкт-Петербург
                    </button>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active"
                     id="moscow"
                     role="tabpanel"
                     aria-labelledby="pills-home-tab"
                >
                    <div>Ул. Александра Солженицына д.42</div>
                    <div>+7 (495) 132-33-90</div>
                    <div>info@dalegion.com</div>
                </div>
                <div class="tab-pane fade"
                     id="spb"
                     role="tabpanel"
                     aria-labelledby="pills-profile-tab"
                >
                    <div>Ул. Ленина д.5</div>
                    <div>+7 (499) 132-33-90</div>
                    <div>infoo@dalegion.com</div>
                </div>
            </div>
        </div>
    </div>
</div>
