<div class="offer">
    <div class="offer__img" src="/assets/images/index/offer.jpg" alt=""></div>
    <div class="container">
        <h1 class="offer__title">
            Содействие родителям в возвращении детей
        </h1>
        <div class="offer__content">
            <div class="offer__description">
                <span>
                    Краткий текст, чуть шире раскрывающий суть услуги и ее
                    выгоды / нужность.
                </span>
                <ul>
                    <li>Возможно со списком ключевых моментов</li>
                    <li>Возможно со списком ключевых моментов</li>
                    <li>Возможно со списком ключевых моментов</li>
                </ul>
            </div>

            <div class="offer__video-wrap">
                <iframe class="offer__video" width="1280" height="720" src="https://www.youtube.com/embed/GiBcpHS0HHA"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
            </div>

            <div class="offer__contacts-wrapper">
                <hr />
                <div class="offer__contacts">
                    <a class="link link-primary" href="tel:84951323390">+7 (495) 132-33-90</a>
                    <a class="link link-primary" href="tel:89214427195">+7 (921) 442-71-95</a>
                    <a class="link link-primary" href="mailto:info@dalegion.com">info@dalegion.com</a>
                </div>
                <hr />
                <button data-bs-toggle="modal" data-bs-target="#callModal"
                        class="btn btn-primary w-100">Свяжитесь со мной
                </button>
            </div>
        </div>
    </div>
</div>
