<div class="quote">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-3 offset-0 offset-md-1">
                <img
                        class="quote__person"
                        src="/assets/images/index/director.jpeg"
                        alt="director"
                />
            </div>
            <div class="col-12 col-md-7">
                <div class="quote__wrapper">
                    <div>
                        <p class="quote__text">
                            Мы предусматриваем, что цитата должна раскрывать услугу
                            и мотивировать. Также обращаю внимание, что имя и
                            должность (подпись к цитате) - это ссылка, она будет
                            вести на страницу руководителя на сайте в будущем. Надо
                            отрисовать ее как ссылку
                        </p>
                        <a class="link link-primary" href="/">
                            — Игорь Петрович, руководитель&nbsp;отдела&nbsp;розыска</a
                        >
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="splitter"></div>
