<div class="tasks">
    <div class="container">
        <h2 class="text-center mb-5">Первостепенные задачи</h2>
        <div class="row">
            <div class="col-6 col-lg-4">
                <div class="tasks__card">
                    <img src="/assets/images/index/task.jpeg" alt="task"/>
                    <div>
                        Выяснить местонахождение
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-4">
                <div class="tasks__card">
                    <img src="/assets/images/index/task.jpeg" alt="task"/>
                    <div>
                        Узнать последние контакты
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-4">
                <div class="tasks__card">
                    <img src="/assets/images/index/task.jpeg" alt="task"/>
                    <div>
                        Вернуть, найти,
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-4">
                <div class="tasks__card">
                    <img src="/assets/images/index/task.jpeg" alt="task"/>
                    <div>
                        Выяснить местонахождение
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-4">
                <div class="tasks__card">
                    <img src="/assets/images/index/task.jpeg" alt="task"/>
                    <div>
                        Узнать последние контакты
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-4">
                <div class="tasks__card">
                    <img src="/assets/images/index/task.jpeg" alt="task"/>
                    <div>
                        Вернуть, найти
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="splitter"></div>
