.about {
    padding: 60px 0 68px 0;
    overflow: hidden;

    .about__list {
        list-style: none;
        margin: 0;
        padding: 0;
        display: grid;
        grid-auto-rows: 1fr;
        counter-reset: item;
        font-family: $second-header-font-family;
        position: relative;

        &:before {
            content: '';
            display: block;
            background: url("/assets/images/index/shield.svg") no-repeat center;
            background-size: 70%;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;

            @include media-breakpoint-down(md) {
                background-size: 100%;
                width: 150%;
            }
        }
    }

    .about__list-item + .about__list-item {
        &::after {
            content: "";
            width: 1px;
            height: 30px;
            background: $primary;
            position: absolute;
            top: -30px;
            left: 25px;

            @include media-breakpoint-down(md) {
                left: 17px;
            }
        }
    }

    .about__list-item {
        position: relative;
        grid-auto-flow: column;
        margin-bottom: 30px;
        display: grid;
        grid-gap: 40px;
        align-items: center;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 113%;

        @include media-breakpoint-down(md) {
            font-size: 16px;
            grid-gap: 15px;
        }

        &:before {
            content: counter(item);
            counter-increment: item;
            font-style: italic;
            font-weight: bold;
            font-size: 50px;
            line-height: 76px;
            color: $primary;
            width: 50px;
            text-align: center;

            @include media-breakpoint-down(md) {
                font-size: 36px;
                width: 36px;
            }
        }

        @include media-breakpoint-up(md) {
            margin-left: calc(50% - 25px);
            width: 50%;

            &:nth-child(odd) {
                margin-left: 25px;
                text-align: right;

                &:before {
                    order: 2;
                }

                &:after {
                    left: unset;
                    right: 25px;
                }
            }
        }
    }

    .about__info {
        display: grid;
        grid-gap: 30px;
        grid-auto-flow: column;
        align-items: center;

        @include media-breakpoint-down(md) {
            font-size: 14px;
            line-height: 1.3;
            grid-gap: 15px;
            align-items: flex-start;
        }

        i {
            font-size: 36px;
            color: $primary;

            @include media-breakpoint-down(md) {
                font-size: 18px;
            }
        }
    }
}
