.advantages {
    padding: 60px 0 100px 0;
    font-family: $second-header-font-family;
    font-weight: 600;
    font-size: 20px;
}

.advantage-card {
    display: grid;
    align-items: center;
    padding: 0 50px;
    text-align: center;
    grid-gap: 20px;

    @include media-breakpoint-down(xl) {
        padding: 0;
    }

    @include media-breakpoint-down(lg) {
        padding: 0;
        text-align: start;
        grid-template-columns: 55px auto;
    }

    i {
        font-size: 50px;
    }

    @include media-breakpoint-down(md) {
        flex-direction: row;
        align-items: center;
        margin-bottom: 30px;
    }
}
