.calculator {
    padding: 60px 0 80px 0;
}

.calculator-table-row {
    display: grid;
    grid-template-columns: 30px auto 300px 150px 200px;
    text-align: center;
    grid-gap: 15px;
    font-weight: bold;
    background: #FAF5ED;
    padding: 15px;
    align-items: center;

    @include media-breakpoint-down(lg) {
        font-weight: normal;
    }

    .calculator-table-row__name {
        display: block;
        text-align: left;
    }

    @include media-breakpoint-down(lg) {
        grid-template-columns: 30px 1fr 0.5fr;

        & > div:before {
            display: block;
            font-family: 'Roboto', sans-serif;
            font-size: 12px;
            line-height: 1.3;
            color: #A2A1A5;
            text-align: left;
        }

        .calculator-table-row__name {
            grid-column: 2/4;
            font-weight: bold;
            position: relative;

            &:before {
                content: '';
                position: absolute;
                width: calc(100% + 45px);
                height: 1px;
                background: rgba(#000000, 0.25);
                bottom: -10px;
                left: -45px;
            }
        }

        .calculator-table-row__avg {
            order: 10;
            grid-column: 1/3;
            text-align: left;

            &:before {
                content: 'Средний чек';
                text-align: left;
            }
        }

        .calculator-table-row__prepayment {
            grid-column: 1/3;
            text-align: left;

            &:before {
                content: 'Размер минимального аванса';
            }
        }

        .calculator-table-row__type {
            text-align: right;

            &:before {
                text-align: right;
                content: 'Тип контракта';
            }
        }
    }
}

.calculator-table-row_header {
    font-weight: normal;
    @include media-breakpoint-down(lg) {
        display: none;
    }
}

.calculator-table-row + .calculator-table-row {
    margin-top: 15px;
}

.calculator-summary {
    margin-bottom: 40px;
}

.calculator-summary-item {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    white-space: nowrap;
    width: 100%;

    @include media-breakpoint-down(md) {
        font-size: 13px;
    }

    .calculator-summary-item__name {
        width: 100%;
        display: grid;
        grid-gap: 15px;
        grid-auto-flow: column;
        grid-template-columns: max-content auto;
        margin-right: 15px;

        &:after {
            height: 20px;
            content: '';
            border-bottom: 2px dashed #C7C6C5;
        }
    }

    .calculator-summary-item__value {
        font-weight: 600;
    }

    & + .calculator-summary-item {
        margin-top: 20px;
        @include media-breakpoint-down(md) {
            margin-top: 7px;
        }
    }
}

.calculator__warning {
    display: grid;
    grid-template-columns: max-content auto;
    align-items: center;
    grid-gap: 15px;
    font-size: 14px;
    font-style: italic;
    line-height: 1.1;
    margin-top: 40px;

    i {
        font-size: 40px;
        color: $primary;
        @include media-breakpoint-down(md) {
            font-size: 24px;
        }
    }
}