.certificate {
  padding: 50px 0 40px 0;

  .certificate__layout {
    display: grid;
    grid-template-columns: 40% auto;
    align-items: center;
    grid-column-gap: 50px;

    @include media-breakpoint-down(md) {
      grid-template-columns: 100%;
      text-align: center;
      justify-content: center;
    }
  }

  .certificate__image {
    grid-row: 1/3;

    @include media-breakpoint-down(md) {
      grid-row: 2;
      width: 60%;
      margin: auto;
    }
  }

  .certificate__text {
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    font-family: $second-header-font-family;

    @include media-breakpoint-down(md) {
      font-size: 16px;
      line-height: 120%;
    }
  }
}
