.licenses {
    padding: 60px 0;

    @include media-breakpoint-down(md) {
        font-size: 15px;
    }
}


.licenses-card {
    display: grid;
    grid-gap: 15px;
    max-width: 260px;
    text-align: center;
    font-family: $second-header-font-family;
    font-weight: 600;
    font-size: 20px;

    @include media-breakpoint-down(md) {
        max-width: 100%;
        grid-template-columns: 70px auto;
        text-align: left;
    }

    .licenses-card__image {
        margin: auto;

        @include media-breakpoint-down(md) {
            height: auto;
            width: 100%;
            align-self: center;
        }
    }

    .licenses-card__text {
        margin-bottom: 15px;

        @include media-breakpoint-down(md) {
            font-size: 16px;
            line-height: 1.3;
            margin-bottom: 0;
        }
    }

    a {
        font-size: 14px;
        font-family: Roboto, sans-serif;
        font-weight: 400;
    }
}