.map {
    height: 500px;
    display: block;
    position: relative;
    overflow: hidden;

    @include media-breakpoint-down(md) {
        height: 700px;
    }

    .map__contacts-wrap {
        display: flex;
        justify-content: flex-end;
        padding: 100px;
        height: 100%;
        align-items: flex-start;
        pointer-events: none;

        @include media-breakpoint-down(md) {
            padding: 15px;
            align-items: flex-end;
        }
    }

    .map__contacts {
        background: $secondary;
        padding: 30px;
        position: relative;
        pointer-events: auto;
        max-width: 370px;

        @include media-breakpoint-down(md) {
            max-width: 100%;
            width: 100%;
        }
    }

    .tab-content {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        margin-top: 40px;
    }

    .nav-link.active {
        background: none !important;
        opacity: 1;
        border-bottom: 2px solid $dark;
    }

    .nav-link {
        font-family: $header-font-family;
        color: $dark !important;
        opacity: 0.5;
        font-weight: bold;
        border-radius: 0 !important;
        padding: 9px 2px;
    }
}

#ya-map {
    position: absolute;
    width: 100%;
    height: 100%;

    .ymaps-2-1-79-ground-pane {
        filter: brightness(0.6);
    }
}
