.offer {
  padding: 65px 0 55px 0;
  color: white;
  position: relative;
  .offer__img {
    position: absolute;
    background: url("/assets/images/index/offer.jpg") no-repeat;
    background-size: cover;
    z-index: -1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;    
  }
  .offer__title {
    text-align: center;
    text-transform: uppercase;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;

    @include media-breakpoint-down(md) {
      max-width: 100%;
      font-size: 20px;
    }
  }

  .offer__content {
    display: grid;
    grid-gap: 25px;
    row-gap: 0;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    @include media-breakpoint-down(lg) {
      display: block;
    }

    .offer__description {
      grid-row: 1;

      @include media-breakpoint-down(md) {
        font-size: 15px;

      }
    }

    .offer__contacts-wrapper {
      grid-row: 2;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }

    .offer__video-wrap {
      grid-row: 1 / 3;
      border-radius: 15px;
      background: gray;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      padding-top: 65%;
      overflow: hidden;
    }

    .offer__video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .offer__contacts {
    display: flex;
    justify-content: space-between;
    color: $primary;

    a {
      text-decoration: none !important;
    }

    @include media-breakpoint-down(xl) {
      flex-direction: column;
      align-items: center;
    }
  }
}
