.quote {
  padding: 70px 0;
  font-family: $second-header-font-family, sans-serif;

  .quote__person {
    border-radius: 50%;
    width: 100%;

    @include media-breakpoint-down(md) {
      margin: auto auto 30px 15%;
      width: 70%;
    }
  }

  .quote__wrapper {
    display: grid;
    grid-gap: 30px;
    grid-auto-flow: column;

    &::before {
      content: "«";
      display: block;
      color: $primary;
      top: 0;
      font-weight: 600;
      font-size: 100px;
    }

    @include media-breakpoint-down(md) {
      grid-gap: 15px;

      &:before {
        font-size: 70px;
      }
    }
  }

  .quote__text {
    font-weight: 600;
    font-size: 26px;
    line-height: 1.2;
    margin-bottom: 20px;

    @include media-breakpoint-down(md) {
      font-size: 20px;
    }
  }
}
