.tasks {
  padding: 50px 0 20px 0;

  .tasks__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    font-size: 24px;
    padding: 0 40px;
    text-align: center;
    font-weight: 600;
    font-family: $second-header-font-family;

    @include media-breakpoint-down(lg) {
      font-size: 18px;
      line-height: 120%;
      padding: 0;
    }

    @include media-breakpoint-down(md) {
      font-size: 16px;
    }

    img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      margin-bottom: 30px;
    }
  }
}
