<div class="modal fade" id="callModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <button type="button"
                    style="position: absolute; top: 30px; right: 30px;z-index: 10;"
                    class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            @@include('./feedback-form.html', {})
        </div>
    </div>
</div>