<div class="feedback-form">
    <form class="feedback-form__content needs-validation" action="#" novalidate>
        <div class="feedback-form__body">
            <div class="feedback-form__title">Заказать звонок</div>
            <div class="mb-3">
                <div class="mb-3 mb-md-4">
                    <label for="name" class="form-label">Ваше имя</label>
                    <input type="text"
                           required
                           name="name"
                           id="name"
                           class="form-control"
                           placeholder="Введите ваше имя"
                    />
                    <div class="invalid-feedback">
                        Введите имя
                    </div>
                </div>
                <div class="mb-3 mb-md-4">
                    <label for="phone" class="form-label"
                    >Ваш номер телефона*</label>
                    <input required
                           type="text"
                           name="phone"
                           id="phone"
                           class="form-control"
                           placeholder="Введите ваш номер телефона"
                    />
                    <div class="invalid-feedback">
                        Введите номер телефона
                    </div>
                </div>
                <div class="mb-4">
                    <label for="comment" class="form-label"
                    >Ваш комментарий (опционально)</label>
                    <input type="text"
                           name="comment"
                           id="comment"
                           class="form-control"
                           placeholder="Введите комментарий"
                    />
                </div>
                <button class="btn btn-primary" type="submit">Заказать звонок</button>
            </div>
            <p class="text-center small">
                Нажимая на кнопку "Заказать звонок", вы соглашаетесь с
                <a href="#">Политикой конфиденциальности.</a>
            </p>
            <div class="feedback-form__success">
                <i class="feedback-form__success-icon icon-check-circle"></i>
                <div class="feedback-form__success-label">Письмо<br />успешно отправлено</div>
            </div>
        </div>
        <hr />
        <p class="text-center feedback-form__footer-text">
            Или свяжитесь с нами через удобный вам мессенджер. Мы работаем 24/7:
        </p>
        <p class="text-center feedback-form__sent-footer-text">
            Если с вами не связались в течение 1 часа —
            напишите напрямую директору
            удобным для вас способом:
        </p>
        <div class="feedback-form__social">
            <a href="#"><img src="/assets/images/skype.svg" alt="skype" /></a>
            <a href="#"><img src="/assets/images/viber.svg" alt="viber" /></a>
            <a href="#"><img src="/assets/images/telegram.svg" alt="telegram" /></a>
            <a href="#"><img src="/assets/images/whatsapp.svg" alt="whatsapp" /></a>
        </div>
        <div class="feedback-form__hidden-inputs"></div>
    </form>
</div>
