<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-2 d-flex justify-content-center">
                <img src="/assets/images/logo-light.svg" alt="logo" />
            </div>
            <div class="col-12 col-md-3 mb-4 text-center text-md-start">
                <ul>
                    <li><a href="#">Ютюб-канал</a></li>
                    <li><a href="#">Блог</a></li>
                    <li><a href="#">Контакты</a></li>
                    <li><a href="#">Услуги</a></li>
                    <li><a href="#">Лицензии, суртификаты, членство</a></li>
                </ul>
            </div>
            <div
                class="
                    col-12 col-md-3
                    offset-md-1
                    text-center text-md-start
                    mb-4
                    footer__city-contacts
                "
            >
                <div class="footer__city-name">Офис в Москве</div>
                <div class="d-flex flex-column">
                    <a class="footer__link" href="tel:+74951323390"
                        >+7 (495) 132-33-90</a
                    >
                    <a class="footer__link" href="tel:+79169707051"
                        >+7 (916) 970-70-51</a
                    >
                </div>
                <a href="#">info@dalegion.com</a>
                <div>Ул. Александра Солженицына, 42</div>
            </div>
            <div
                class="
                    col-12 col-md-3
                    mb-4
                    text-center text-md-start
                    footer__city-contacts
                "
            >
                <div class="footer__city-name">Офис в Санкт-Петербурге</div>
                <div class="d-flex flex-column">
                    <a class="footer__link" href="tel:+78123857568"
                        >+7 (812) 385-75-68</a
                    >
                    <a class="footer__link" href="tel:+79633201255"
                        >+7 (963) 320-12-55</a
                    >
                </div>
                <a href="#">info@dalegion.com</a>
                <div>Невский проспект, 150</div>
            </div>
        </div>
        <div class="text-center">
            © 2010-2020 Детективное агентство “Легион”,
            все&nbsp;права&nbsp;защищены.
        </div>
    </div>
</footer>
