<header class="header">
    <div class="container">
        <div class="header__wrapper">
            <div class="header__top">
                <i
                    class="header__burger icon-burger"
                    data-bs-toggle="collapse"
                    data-bs-target="#headerCollapse"
                ></i>
                <a href="/" class="header__logo">
                    <img src="/assets/images/logo.svg" alt="logo" />
                </a>
                <i class="header__24-7 icon-7"></i>
                <div class="header__city">
                    Москва: <a href="tel:84951323390">+7 (495) 132-33-90</a>
                </div>
                <div class="header__city">
                    Санкт-Петербург:
                    <a href="tel:89214427195">+7 (921) 442-71-95</a>
                </div>
                <a class="header__language" href="#">ENG</a>
                <span role="button" class="header__theme icon-moon"></span>
            </div>
            <ul class="header__nav collapse" id="headerCollapse">
                <li>
                    <a
                        class="nav-link dropdown-toggle"
                        href="#"
                        id="navbarDarkDropdownMenuLink"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                    >
                        Компания
                    </a>
                    <ul
                        class="dropdown-menu"
                        aria-labelledby="navbarDarkDropdownMenuLink"
                    >
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li>
                            <a class="dropdown-item" href="#">Another action</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#"
                                >Something else here</a
                            >
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="nav-link" href="/services.html"> Услуги </a>
                </li>
                <li>
                    <a
                        class="nav-link dropdown-toggle"
                        href="#"
                        id="navbarDarkDropdownMenuLink"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                    >
                        Гарантии
                    </a>
                    <ul
                        class="dropdown-menu"
                        aria-labelledby="navbarDarkDropdownMenuLink"
                    >
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li>
                            <a class="dropdown-item" href="#">Another action</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#"
                                >Something else here</a
                            >
                        </li>
                    </ul>
                </li>
                <li>
                    <a
                        class="nav-link dropdown-toggle"
                        href="#"
                        id="navbarDarkDropdownMenuLink"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                    >
                        Консультации
                    </a>
                    <ul
                        class="dropdown-menu"
                        aria-labelledby="navbarDarkDropdownMenuLink"
                    >
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li>
                            <a class="dropdown-item" href="#">Another action</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#"
                                >Something else here</a
                            >
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="nav-link" href="#"> Блог детектива </a>
                </li>
                <li>
                    <a class="nav-link" href="#"> Контакты </a>
                </li>
            </ul>
        </div>
    </div>
</header>
