<div class="wanted-people">
    <h2 class="wanted-people__header mb-3">Розыск людей</h2>
    <div class="container">
        <div class="wanted-people__wrapper">
            <div class="wanted-people__card">
                <img
                    src="/assets/images/services/card.png"
                    alt="image"
                    class="mb-3"
                />
                <div class="wanted-people__card-inner">
                    <h3 class="wanted-people__card-header mb-3">
                        Поиск пропавших
                    </h3>
                    <p class="wanted-people__card-text mb-3">
                        Пропал человек — куда звонить и что делать? Два самых
                        распространенных вопроса, с которыми в подобной ситуации
                        сталкиваются родные и близкие. Безусловно, нужно заявить
                        в полицию о пропаже человека. Но рассчитывать на быструю
                        и, самое главное, профессиональную реакцию полицейских
                        не стоит. Увы, наша правоохранительная система зачастую
                        неповоротлива и медлительна.
                    </p>
                    <a href="#" class="wanted-people__card-link">
                        Узнать подробнее
                    </a>
                </div>
            </div>
            <div class="wanted-people__card">
                <img
                    src="/assets/images/services/card.png"
                    alt="image"
                    class="mb-3"
                />
                <div class="wanted-people__card-inner">
                    <h3 class="wanted-people__card-header mb-3">
                        Поиск пропавших
                    </h3>
                    <p class="wanted-people__card-text mb-3">
                        Пропал человек — куда звонить и что делать? Два самых
                        распространенных вопроса, с которыми в подобной ситуации
                        сталкиваются родные и близкие. Безусловно, нужно заявить
                        в полицию о пропаже человека. Но рассчитывать на быструю
                        и, самое главное, профессиональную реакцию полицейских
                        не стоит. Увы, наша правоохранительная система зачастую
                        неповоротлива и медлительна.
                    </p>
                    <a href="#" class="wanted-people__card-link">
                        Узнать подробнее
                    </a>
                </div>
            </div>
            <div class="wanted-people__card">
                <img
                    src="/assets/images/services/card.png"
                    alt="image"
                    class="mb-3"
                />
                <div class="wanted-people__card-inner">
                    <h3 class="wanted-people__card-header mb-3">
                        Поиск пропавших
                    </h3>
                    <p class="wanted-people__card-text mb-3">
                        Пропал человек — куда звонить и что делать? Два самых
                        распространенных вопроса, с которыми в подобной ситуации
                        сталкиваются родные и близкие. Безусловно, нужно заявить
                        в полицию о пропаже человека. Но рассчитывать на быструю
                        и, самое главное, профессиональную реакцию полицейских
                        не стоит. Увы, наша правоохранительная система зачастую
                        неповоротлива и медлительна.
                    </p>
                    <a href="#" class="wanted-people__card-link">
                        Узнать подробнее
                    </a>
                </div>
            </div>
            <div class="wanted-people__card">
                <img
                    src="/assets/images/services/card.png"
                    alt="image"
                    class="mb-3"
                />
                <div class="wanted-people__card-inner">
                    <h3 class="wanted-people__card-header mb-3">
                        Поиск пропавших
                    </h3>
                    <p class="wanted-people__card-text mb-3">
                        Пропал человек — куда звонить и что делать? Два самых
                        распространенных вопроса, с которыми в подобной ситуации
                        сталкиваются родные и близкие. Безусловно, нужно заявить
                        в полицию о пропаже человека. Но рассчитывать на быструю
                        и, самое главное, профессиональную реакцию полицейских
                        не стоит. Увы, наша правоохранительная система зачастую
                        неповоротлива и медлительна.
                    </p>
                    <a href="#" class="wanted-people__card-link">
                        Узнать подробнее
                    </a>
                </div>
            </div>
            <div class="wanted-people__card">
                <img
                    src="/assets/images/services/card.png"
                    alt="image"
                    class="mb-3"
                />
                <div class="wanted-people__card-inner">
                    <h3 class="wanted-people__card-header mb-3">
                        Поиск пропавших
                    </h3>
                    <p class="wanted-people__card-text mb-3">
                        Пропал человек — куда звонить и что делать? Два самых
                        распространенных вопроса, с которыми в подобной ситуации
                        сталкиваются родные и близкие. Безусловно, нужно заявить
                        в полицию о пропаже человека. Но рассчитывать на быструю
                        и, самое главное, профессиональную реакцию полицейских
                        не стоит. Увы, наша правоохранительная система зачастую
                        неповоротлива и медлительна.
                    </p>
                    <a href="#" class="wanted-people__card-link">
                        Узнать подробнее
                    </a>
                </div>
            </div>
            <div class="wanted-people__card">
                <img
                    src="/assets/images/services/card.png"
                    alt="image"
                    class="mb-3"
                />
                <div class="wanted-people__card-inner">
                    <h3 class="wanted-people__card-header mb-3">
                        Поиск пропавших
                    </h3>
                    <p class="wanted-people__card-text mb-3">
                        Пропал человек — куда звонить и что делать? Два самых
                        распространенных вопроса, с которыми в подобной ситуации
                        сталкиваются родные и близкие. Безусловно, нужно заявить
                        в полицию о пропаже человека. Но рассчитывать на быструю
                        и, самое главное, профессиональную реакцию полицейских
                        не стоит. Увы, наша правоохранительная система зачастую
                        неповоротлива и медлительна.
                    </p>
                    <a href="#" class="wanted-people__card-link">
                        Узнать подробнее
                    </a>
                </div>
            </div>
            <div class="wanted-people__card">
                <img
                    src="/assets/images/services/card.png"
                    alt="image"
                    class="mb-3"
                />
                <div class="wanted-people__card-inner">
                    <h3 class="wanted-people__card-header mb-3">
                        Поиск пропавших
                    </h3>
                    <p class="wanted-people__card-text mb-3">
                        Пропал человек — куда звонить и что делать? Два самых
                        распространенных вопроса, с которыми в подобной ситуации
                        сталкиваются родные и близкие. Безусловно, нужно заявить
                        в полицию о пропаже человека. Но рассчитывать на быструю
                        и, самое главное, профессиональную реакцию полицейских
                        не стоит. Увы, наша правоохранительная система зачастую
                        неповоротлива и медлительна.
                    </p>
                    <a href="#" class="wanted-people__card-link">
                        Узнать подробнее
                    </a>
                </div>
            </div>
        </div>
        <div class="wanted-people__contacts-wrapper">
            <img
                src="/assets/images/services/splitter.svg"
                alt="splitter"
                class="wanted-people__splitter"
            />
            <h3 class="mb-1 text-center w-100 w-md-50">
                У вас особая ситуация,<br/>требующая индивидуального подхода?
            </h3>
            <hr />
            <div class="wanted-people__contacts">
                <a class="link link-primary" href="tel:84951323390"
                    >+7 (495) 132-33-90</a
                >
                <a class="link link-primary" href="tel:89214427195"
                    >+7 (921) 442-71-95</a
                >
                <a class="link link-primary" href="mailto:info@dalegion.com"
                    >info@dalegion.com</a
                >
            </div>
            <hr />
            <button
                data-bs-toggle="modal"
                data-bs-target="#callModal"
                class="btn btn-primary wanted-people__contacts-button mt-3"
            >
                Да, свяжитесь со мной
            </button>
        </div>
    </div>
</div>
